body {
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1em; /* 1rem ou 1em equivalem a 16px. Tamanho padrão do navegador */ 
}

main {
    padding: 2 em;
}

#tabela_container {
    background-color: #fff;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000
}

/* box-shadow:
se no 1° Parâmetro tiver valor positivo, ele faz um sombreamento da caixa para a direita. Se o valor for zero, ele não faz sombreamento lateral. Se o valor for negativo, ele faz sombreamento da caixa para a esquerda. 

 No 2° Parâmetro, o sombreamento é vertical, ou seja, se o valor for positivo, ele faz um sombreamento embaixo da caixa, enquanto que se o valor for negativo, ele faz um sombreamento acima da caixa. 

 No 3° Parâmetro, quanto maior o valor, mais borrado (blur) fica o sombreamento.
 Obs: o 3° Parâmetro é opcional.
 
 O 4° Parâmetro é referente a cor do sombreamento. 
 Obs: O 4° Parâmetro é opcional */

/*  Grid simulando tabela */
#tabela_grid {
    display: grid; /* Cria uma grade, ou seja, cria uma tabela */

    /* Cria 7 colunas com largura distribuidos por igual. fr é abreviação de fração   */

    grid-template-columns: repeat(7, 1fr);
    gap: 4px;

    /* gap é espaçamento entre colunas */

    margin-top: 10px;
}